

* {
    margin: 0;
    padding: 0;

}

body {
    min-height: 100vh;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

nav {
    background-color: black;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);

}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: red;
}

nav li {
    height: 50px;
    color: red;

}

nav a {
    
    font-weight: 500;
    font-size: 22px;
   height: 100%;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 30px;
    display: flex;
    text-decoration: none;
    align-items: center;
    color: red;
    cursor: pointer;
    transition: .4s;

}

nav a:hover {
    background-color: rgb(165, 2, 24);
    height: 40px;
    border-radius: 20px;


}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    box-shadow: -10ps 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

img {
    height: 200px;
    width: 200px;
    margin-top: 45px;
    margin-right: 70px;
}

.sidebar li {
    width: 100%;
}


.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}

.slider {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.slider-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.slider-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.slider-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.slider-content button {
    padding: 10px 20px;
    background-color: red;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.slider-content button:hover {
    background-color: #a50218;
}

h1 {
    color: white;
    font-size: larger;
    font-weight: 500;
}

.heading {
    color: white;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;

}

.movies-container {
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, auto));
    gap: 1rem;
    margin-top: 2rem;
}

.box .box-img {
    width: 100%;
    height: 270px;
    cursor: pointer;
}

.box .box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.box .box-img img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.box h3 {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

.box span {
    color: white;
    font-size: 14px;
}
.watch-now-button{
    color: white;
    background-color: red;
 
}
.sep{
    height: 28px;
}
.more{
    height: 40px;
    width: 100%;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more button {
    background-color: red;
    height: 50px;
    width: 80px;
    border-radius: 8px;
    color: white;
}

.copyright{
    padding: 20px;
    text-align: center;
    color: #fff;
}


@media (max-width: 900px) {
    .hideOnmobile {
        display: none;
    }

    .menu-button {
        display: block;
    }

    .sidebar {
        width: 70%;
    }


}

@media (max-width: 450px) {
    .sidebar {
        width: 100%;
    }
}

@media (max-width: 774px) {

    .movies-container {
        grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    }
}

@media (max-width: 472px) {
    .movies-container {
        grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    }
}